{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit Resource{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">Edit Resource</h4>
      {% csrf_token %}
      <form action="{% url 'cms:resource_lock' resource_name=resource_name %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:resource_list' %}" class="btn btn-secondary btn-sm">Back</a>
{% endblock content %}